body {
  margin: 0;
}
h1 {
  font-size: 48px;
  text-align: center;
  margin: 45px 0;
  color: #2e7ad3;
}
h2 {
  margin: 0 0 15px;
  /* margin-bottom: 15px; */
  font-size: 32px;
  color: #104c90;
}
p {
  font-size: 16px;
  margin: 0px 0px 9px;
}
a {
  color: orange;
  font-weight: bold;
}
a:hover,
a:focus {
  color: #104c90;
}
a:visited {
  color: orange;
}
.image {
  text-align: center;
}
.post {
  margin: 45px auto;
  width: 500px;
  background-color: #f1f1f1;
  padding: 25px;
}
.post-header {
  margin-bottom: 25px;
}
.links {
  margin: 0;
}
