/* body {
  background-color: red;
} */
/*
h1 - 48px
h2 - 36px
h3 - 28px
all other text - 21px

colors: 
   #588C94 
   #1D3C41
*/
body {
  margin: 0;
  font-size: 21px;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
header {
  background-color: #588c94;
  color: white;
  text-align: center;
  padding: 20px 0;
}
.intro {
  width: 400px;
  text-align: center;
  margin: 120px auto;
  color: gray;
}
.my-skills {
  background-color: #1d3c41;
  color: white;
  padding: 75px 0;
  text-align: center;
}
.columns {
  display: flex;
}
.col {
  margin: 0 20px;
  /* padding: 0 20px; */
}
